* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
}

#lobby {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
}

#presentation-ui {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
}

#msg {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
}

#gameTimer {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    background-color: white;
}

#join-lobby {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#info {
    position: absolute;
    background-color: white;
}