* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-shadow: black 1px 1px 1px;
    z-index: 1000;

    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1vw;

    top: 2px;
    right: 20%;
}

.info-icon {
    width: 17px;
    height: 17px;
}

#ping {
    display: flex;
    align-items: flex-start;
    column-gap: 0.25vw;
}

#fps {
    color: white;
}

.fade {
    background-color: black;
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.message {
    position: absolute;
    width: 25vw;
    height: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/message-container.svg");
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fae69f;
    font-size: 2vw;
    text-shadow: #000 1px 1px 1px;
    text-align: center;
    animation: down 3.5s ease forwards;
    padding-left: 3vw;
    padding-right: 3vw;
}

@keyframes down {
    0% {
        top: -10vh;
    }
    25% {
        top: 10vh;
    }
    75% {
        top: 10vh;
    }
    100% {
        top: -10vh;
    }
}

.error-message {
    color: red;
}

.info-message {
    color: #fae69f;
}

.success-message {
    color: green;
}

.spinner {
    position: absolute;
    bottom: -4vh;
    left: 50%;
    width: 20vw;
    height: 20vw;
    transform: translate(-50%, 0);
    background-image: url("/img/spinner.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.presentation-img {
    position: absolute;
    width: 60vw;
    height: 55vh;
    top: 14vh;
    left: 4vw;
    border-radius: 20px;
}

#description-container {
    position: absolute;
    width: 60vw;
    height: 12vw;
    padding: 2vw;
    bottom: 4vh;
    left: 4vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    color: #fae69f;
    text-shadow: #000 1px 1px 1px;
    font-size: 1.3vw;
}

.description-title {
    font-size: 2vw;
}

#commands-container {
    width: 27vw;
    height: 32vw;
    background-image: url("/img/stone-container.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 14vh;
    right: 4vw;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    padding: 3vw;
    font-size: 2.2vw;
    color: #fae69f;
    text-shadow: #000 2px 2px 1px;
}

.command {
    display: flex;
    flex-direction: row;
    align-content: center;
    column-gap: 1vw;
}

.key-img {
    width: 3.2vw;
    height: 3.2vw;
}

.large-key-img {
    width: 6vw;
    height: 3.5vw;
}

#checkbox-container {
    width: 30vw;
    height: 21vh;
    max-width: 30vw;
    position: absolute;
    bottom: 2vh;
    right: 2.5vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1vw;
    row-gap: 1vh;
}

.player-checkbox {
    position: relative;
    height: 10vh;
    font-size: 1.25vw;
    color: #fae69f;
    text-shadow: #000 1px 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox-img {
    width: 4vw;
    height: 4vw;
}

#checkbox-info-text {
    position: absolute;
    bottom: 24vh;
    right: 4vw;
    transform: translateX(-50%);
    font-size: 1.6vw;
    color: #276e69;
    text-shadow: #000 1px 1px 1px;
}

#msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3vw;
    text-shadow: #000 3px 3px 1px;
}

#game-timer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.25vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: #000 1px 1px 1px;
    font-size: 2.5vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5vw;
    border-radius: 20px;
}

#stopwatch-img {
    width: 2.7vw;
    height: 2.7vw;
}

#score-container {
    position: absolute;
    font-size: 3vw;
    color: #fae69f;
    background-image: url("/img/stone-circle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: #000 1px 1px 1px;
    top: .4vh;
    left: .2vw;
    width: 10vw;
    height: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.7vw;
}

#results-div {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3vw;
    text-shadow: #000 3px 3px 1px;
}

#player-scores-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/img/big-leaf-stone-container.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.player-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.medals {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /*border: white 1px solid;*/
    padding: .7vw;
    font-size: 1.7vw;
    color: white;
    text-shadow: #000 1px 1px 1px;
    min-width: 55vw;
}

.medal-img {
    width: 3vw;
    height: 3vw;
}

.vertical-div {
    width: .25vw;
    height: 5vh;
    background-color: #d7955c;
    margin-left: 2vw;
    margin-right: 2vw;
}

.medal-name {
    font-size: 2.3vw;
    padding-left: 2vw;
    color: #fae69f;
    min-width: 12vw;
}

.medal-result {
    font-size: 2.3vw;
    padding-right: 3vw;
    color: #d7955c;
}

.position {
    width: 6.5vw;
    height: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    color: #276e69;
    text-shadow: #000 2px 2px 1px;
}

.first-position {
    font-size: 4vw;
}